@using Models.Departure;


@code {
    [Parameter]
    public Departures departures { get; set; }
}

<h5>Båt</h5>

@if (departures.ResponseData != null && departures.ResponseData.Ships.Count() != 0)
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Linje</th>
                <th scope="col">Tid</th>
                <th scope="col">Destination</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in departures.ResponseData.Ships)
            {
                <tr class="border-bottom">
                    <th scope="row">@ship.LineNumber</th>
                    <td>@ship.DisplayTime</td>
                    <td>@ship.Destination</td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <p>Hittade inga avgångar</p>
}
